<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" class="navbar-ar bd-b-grey1 r-s-c" id="navbar">
    <div style="width: 30px;"></div>


    <div class="nav-element hover-green checked-green">나의 저장소 관리</div>
    <div style="width: 15px;"></div>
    <div class="nav-element" style="color: #FE6E2F;">|</div>
    <div style="width: 15px;"></div>
    <div class="nav-element hover-green">문의</div>
    <div style="width: 15px;"></div>
    <div class="nav-element" style="color: #FE6E2F;">|</div>
    <div style="width: 15px;"></div>
    <div class="nav-element hover-green">회원정보 관리</div>


    <div style="width: 30px;"></div>
</nav>