<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{view/layout/layout}">
<div layout:fragment="content">

    <div id="extract-form" class="c-c-c">

        <div style="height: 50px;"></div>

        <div style="width: 745px;" class="c-c">
            <select class="select-box" style="width: 120px">
                <option selected disabled> 시험 종류 </option>
            </select>

            <div style="width: 5px;"></div>

            <select class="select-box" style="width: 120px">
                <option selected disabled> 출제 기관 </option>
            </select>

            <div style="width: 5px;"></div>

            <select class="select-box" style="width: 120px">
                <option selected disabled> 시험 년도 </option>
            </select>

            <div style="width: 5px;"></div>

            <select class="select-box" style="width: 120px">
                <option selected disabled> 시험 월 </option>
            </select>

            <div style="width: 5px;"></div>

            <select class="select-box" style="width: 120px">
                <option selected disabled> 시험 과목 </option>
            </select>

            <div style="width: 5px;"></div>

            <select class="select-box" style="width: 120px">
                <option selected disabled> 시험 타입 </option>
            </select>
        </div>

        <div style="height: 20px;"></div>

        <div class="extract-pdf-ar c-c" id="extract-pdf-ar">

            <span id="extract-pdf-title">시험지를 업로드 하세요(드래그)</span>

        </div>

        <div style="height: 10px;"></div>

        <div class="extract-btn-ar r-e-c">

            <div class="blue-btn">지문 추가</div>
            <div style="width: 10px;"></div>
            <div class="black-btn">문제 추출</div>

        </div>

    </div>

    <div id="extract-exam">


    </div>


    <div class="modal-background c-c">

        <div class="common-passage-form c-s-c">
            <div class="hover-cursor" style="margin-left: auto;" id="common-passage-form-close">X</div>
            <div style="height: 10px;"></div>

            <div style="font-weight: 500; font-size: 20px; color: #141517; width: 80%"> 2025_수능_국어_화법과작문_홀수형_4번 </div>
            <div style="height: 10px;"></div>

            <input class="input-box" style="width: 80%; height: 30px;" placeholder="문제 번호 ex) 18_19_20_21"/>
            <div style="height: 10px;"></div>

            <textarea id="repo-form-description" class="textarea-box" style="width: 80%; height: 450px; font-size: 13px;" placeholder="지문을 입력하세요."></textarea>
            <div style="height: 20px;"></div>

            <div style="width: calc(80% + 10px);">
                <div class="black-btn" id="common-passage-submit">지문 저장</div>
            </div>
            <div style="height: 20px;"></div>

        </div>

    </div>



</div>
</html>