<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{view/layout/layout}">
<div layout:fragment="content">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js"></script>

    <!-- 시험 정보 입력 폼 --><!-- 시험 정보 입력 폼 --><!-- 시험 정보 입력 폼 --><!-- 시험 정보 입력 폼 --><!-- 시험 정보 입력 폼 -->
    <div id="extract-form" class="c-c-c">

        <div style="height: 150px;"></div>

        <div style="width: 745px;" class="c-c">
            <select class="select-box extract-select" style="width: 120px" data-id="exam-cate-form" id="exam-cate-form">
                <option selected disabled> 시험 종류 </option>

            </select>

            <div style="width: 5px;"></div>

            <select class="select-box extract-select" style="width: 120px" data-id="exam-org-form" id="exam-org-form">
                <option selected disabled> 출제 기관 </option>

            </select>

            <div style="width: 5px;"></div>

            <select class="select-box extract-select" style="width: 120px" data-id="year-form" id="year-form">
                <option selected disabled> 시험 년도 </option>
            </select>

            <div style="width: 5px;"></div>

            <select class="select-box extract-select" style="width: 120px" data-id="month-form" id="month-form">
                <option selected disabled> 시험 월 </option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>

            <div style="width: 5px;"></div>

            <select class="select-box extract-select" style="width: 120px" data-id="subject-form" id="subject-form">
                <option selected disabled> 시험 과목 </option>
            </select>

            <div style="width: 5px;"></div>

            <select class="select-box extract-select" style="width: 120px" data-id="type-form" id="type-form">
                <option selected disabled> 시험 타입 </option>
                <option value="EVEN">짝수형</option>
                <option value="ODD">홀수형</option>
                <option value="A">A형</option>
                <option value="B">B형</option>
                <option value="1">1형</option>
                <option value="2">2형</option>
                <option value="NONE">없음</option>
            </select>
        </div>

        <div style="height: 20px;"></div>

        <div class="extract-pdf-ar c-c" id="extract-pdf-ar">

            <span id="extract-pdf-title">시험지를 업로드 하세요(드래그)</span>

        </div>

        <div style="height: 10px;"></div>

        <div class="extract-btn-ar r-e-c">

            <div class="blue-btn" id="common-passage-btn">지문 등록</div>
            <div style="width: 10px;"></div>
            <div class="black-btn" id="extract-question-btn">문제 추출</div>

        </div>

    </div>
    <!-- 시험 정보 입력 폼 --><!-- 시험 정보 입력 폼 --><!-- 시험 정보 입력 폼 --><!-- 시험 정보 입력 폼 --><!-- 시험 정보 입력 폼 -->


    <div id="extract-exam" style="display: none; width: 100%; height: 100%;">


    </div>


    <div class="modal-background c-c" id="common-passage-form">

        <div class="common-passage-form c-s-c">
            <div class="hover-cursor" style="margin-left: auto;" id="common-passage-form-close">X</div>
            <div style="height: 10px;"></div>

            <div style="font-weight: 500; font-size: 20px; color: #141517; width: 80%"> 2025_수능_국어_화법과작문_홀수형 </div>
            <div style="height: 10px;"></div>

            <input class="input-box" style="width: 80%; height: 30px;" placeholder="문제 번호 ex) 18_19_20_21" id="common-passage-no"/>
            <div style="height: 10px;"></div>

            <textarea class="textarea-box" style="width: 80%; height: 450px; font-size: 13px;" placeholder="지문을 입력하세요." id="common-passage-content"></textarea>
            <div style="height: 20px;"></div>

            <div style="width: calc(80% + 10px);">
                <div class="black-btn" id="common-passage-submit">지문 저장</div>
            </div>
            <div style="height: 20px;"></div>

        </div>

    </div>



</div>
</html>