<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="login-form">


    <div class="modal-background c-c" id="login-form" style="background-color: rgba(0, 0, 0, 0.8) !important;">

        <div class="login-form c-s-c" id="login-form-ar">
            <div style="height: 10px;"></div>
            <div style="margin-left: auto; margin-right: 10px;" class="login-modal-close-btn hover-cursor">
                X
            </div>
            <div style="height: 30px;"></div>
            <input class="input-box" style="width: calc(80% + 19px); height: 40px;" placeholder="아이디"/>
            <div style="height: 10px;"></div>
            <input class="input-box" style="width: calc(80% + 19px); height: 40px;" placeholder="비밀번호"/>
            <div style="height: 10px;"></div>
            <div class="black-btn" style="width: 80%;">로그인</div>
            <div style="height: 10px;"></div>
            <div class="r-e-c" style="width: calc(80% + 30px);">
                <div class="login-text hover-cursor">비밀번호 찾기</div>
                <div style="width: 10px;"></div>
                <div class="login-text" style="color: #c0c2cc !important;">|</div>
                <div style="width: 10px;"></div>
                <div class="login-text hover-cursor" style="margin-right: auto;">아이디 찾기</div>

                <div class="login-text hover-cursor" id="join-btn">회원가입</div>
            </div>
        </div>

        <div class="login-form c-s-c" id="join-form-ar" style="display: none;">
            <div style="height: 10px;"></div>

            <div style="margin-left: auto; margin-right: 10px;" class="login-modal-close-btn hover-cursor">
                X
            </div>

            <div style="height: 30px;"></div>
            <input class="input-box" style="width: calc(80% + 19px); height: 40px;" placeholder="이메일"/>
            <div style="height: 10px;"></div>
            <input class="input-box" style="width: calc(80% + 19px); height: 40px;" placeholder="아이디"/>
            <div style="height: 10px;"></div>
            <input type="password" class="input-box" style="width: calc(80% + 19px); height: 40px;" placeholder="비밀번호 확인"/>
            <div style="height: 10px;"></div>
            <input type="password" class="input-box" style="width: calc(80% + 19px); height: 40px;" placeholder="비밀번호"/>
            <div style="height: 10px;"></div>
            <input class="input-box" style="width: calc(80% + 19px); height: 40px;" placeholder="전화번호"/>
            <div style="height: 10px;"></div>
            <div class="black-btn" style="width: 80%;">회원가입</div>
            <div style="height: 10px;"></div>
            <div class="r-e-c" style="width: calc(80% + 30px);">
                <div class="login-text hover-cursor" id="login-btn2">로그인</div>
            </div>

            <div style="height: 30px;"></div>
        </div>

    </div>

</div>
</html>