<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{view/layout/layout}">
<div layout:fragment="content">

    <div class="repository-description c-c-c">
        <input type="hidden" th:value="${repository.repositoryCode}" id="repository-code">
        <input class="repo-description-ibox" style="font-weight: 600; font-size: 20px;" th:value="${repository.repositoryName}" id="repository-title"/>
        <div style="height: 7px;"></div>
        <textarea class="repo-description-tbox" th:text="${repository.description}" id="repository-description"></textarea>
        <div style="height: 7px;"></div>
        <div class="black-btn" style="margin-left: auto; padding: 3px 20px !important;" id="repository-edit-btn">수정</div>
    </div>

    <!-- 상단 검색 , 정렬 , 생성버튼 --><!-- 상단 검색 , 정렬 , 생성버튼 --><!-- 상단 검색 , 정렬 , 생성버튼 -->
    <div class="c-s-c">
        <h1 id="repo-detail-title" th:text="${repository.repositoryName}" style="border-bottom: 3px solid #FE6E2F;"></h1>
<!--
        <div style="height: 50px;" class="c-c"></div>
        <input class="input-box" style="width: 800px; height: 37px;" placeholder="문제 찾기"/>
        <div style="height: 15px;"></div>
        <div class="r-s-c" style="width: 810px; height: 30px;">

            <label class="mypage-top-btn hover-cursor">·&nbsp;&nbsp;최근추가순
                <input type="radio" name="sort">
            </label>

            <div style="width: 15px;"></div>

            <label class="mypage-top-btn hover-cursor">·&nbsp;&nbsp;최근작업순
                <input type="radio" name="sort" checked>
            </label>

            <div class="mypage-top-btn hover-cursor" style="margin-left: auto;" id="add-question-btn">·&nbsp;&nbsp;문제 추가하기</div>
        </div>
        <div style="height: 20px;"></div>
-->

    </div>
    <!-- 상단 검색 , 정렬 , 생성버튼 --><!-- 상단 검색 , 정렬 , 생성버튼 --><!-- 상단 검색 , 정렬 , 생성버튼 -->

    <!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 -->
    <div  style="min-height: 300px;" class="c-s-c">
        <div class="c-c-s question-element bd-b-grey2" th:each="question : ${list}" th:object="${question}">

            <div class="r-s-c">
                <div style="font-weight: 600; font-size: 20px; color: #141517;" th:text="*{examYear +'년도_'+ examMonth +'월_'+ ExamCateName +'_'+ subjectName +'_'+ subjectDetailName +'_'+ examTypeName +'_'+ questionNo+'번'}"></div>
            </div>

            <div style="height:10px;"></div>

            <div class="r-s-c">
                <div style="font-weight: 400; font-size: 13px; color: #95979e;" th:text="*{'생성일 : '+createdAt}"></div>
                <div style="font-weight: 400; font-size: 13px; color: #95979e; margin-left: auto;" th:text="*{'마지막 작업 : '+updatedAt}"></div>
            </div>

        </div>
    </div>

    <!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 -->

    <div style="height: 20px;"></div>

    <!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 -->
    <!--<div class="r-c-c" style="width: 810px;">
        <a class="page-btn"> << </a>
        <div style="width: 3px;"></div>
        <a class="page-btn"> < </a>

        <div style="width: 10px;"></div>

        <a class="page-btn"> 1 </a>
        <div style="width: 3px;"></div>
        <a class="page-btn page-btn-checked"> 2 </a>
        <div style="width: 3px;"></div>
        <a class="page-btn"> 3 </a>
        <div style="width: 3px;"></div>
        <a class="page-btn"> 4 </a>
        <div style="width: 3px;"></div>
        <a class="page-btn"> 5 </a>

        <div style="width: 10px;"></div>

        <a class="page-btn"> > </a>
        <div style="width: 3px;"></div>
        <a class="page-btn"> >> </a>


    </div>-->
    <!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 -->
    <div style="height: 50px;"></div>


</div>
</html>