<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{view/layout/layout}">
<div layout:fragment="content">

<!-- 저장소 생성 모달 --><!-- 저장소 생성 모달 --><!-- 저장소 생성 모달 --><!-- 저장소 생성 모달 --><!-- 저장소 생성 모달 -->
<div class="modal-background c-c" id="repo-form">
    <div class="repository-form c-s-c">
        <div class="hover-cursor" style="margin-left: auto;" id="repo-form-close">X</div>

        <div style="height: 50px;"></div>
        <div style="font-weight: 500; font-size: 20px; color: #141517; width: 80%"> 저장소 이름 </div>
        <div style="height: 5px;"></div>
        <input id="repo-form-name" class="input-box" style="width: 80%; height: 30px; font-size: 13px;" placeholder="ex) 화법과 작문 상급 문제 모음"/>

        <div style="height: 10px;"></div>
        <div style="font-weight: 500; font-size: 20px; color: #141517; width: 80%"> 설명 </div>
        <div style="height: 5px;"></div>
        <textarea id="repo-form-description" class="textarea-box" style="width: 80%; height: 300px; font-size: 13px;" placeholder="ex) 수능 국어 상급 문제 오답용 문제 저장"></textarea>
        <div style="height: 20px;"></div>

        <div style="width: calc(80% + 10px);">
            <div class="black-btn" id="repo-form-submit">저장소 생성</div>
        </div>


        <div style="height: 20px;"></div>
    </div>
</div>
<!-- 저장소 생성 모달 --><!-- 저장소 생성 모달 --><!-- 저장소 생성 모달 --><!-- 저장소 생성 모달 --><!-- 저장소 생성 모달 -->


<!-- 상단 검색 , 정렬 , 생성버튼 --><!-- 상단 검색 , 정렬 , 생성버튼 --><!-- 상단 검색 , 정렬 , 생성버튼 -->
<div class="c-s-c">

    <div style="height: 50px;"></div>
    <input class="input-box" style="width: 800px; height: 37px;" placeholder="저장소 찾기"/>
    <div style="height: 15px;"></div>
    <div class="r-s-c" style="width: 810px; height: 30px;">

        <label class="mypage-top-btn hover-cursor">·&nbsp;&nbsp;생성일자순
            <input type="radio" name="sort">
        </label>

        <div style="width: 15px;"></div>

        <label class="mypage-top-btn hover-cursor">·&nbsp;&nbsp;최근작업순
            <input type="radio" name="sort" checked>
        </label>

        <div class="mypage-top-btn hover-cursor" style="margin-left: auto;" id="create-repository-btn">·&nbsp;&nbsp;새 저장소 만들기</div>
    </div>
    <div style="height: 20px;"></div>

</div>
<!-- 상단 검색 , 정렬 , 생성버튼 --><!-- 상단 검색 , 정렬 , 생성버튼 --><!-- 상단 검색 , 정렬 , 생성버튼 -->

<!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 -->
<div class="c-c-s repository-element bd-b-grey2">

    <div class="r-s-c">
        <div style="font-weight: 600; font-size: 20px; color: #141517;">수능 국어 상급 문제 모음</div>
        <div style="font-weight: 500; font-size: 20px; color: #141517; margin-left: auto;">[ 14 ]</div>
    </div>

    <div style="height:5px;"></div>
    <div style="font-weight: 400; font-size: 15px; color: #141517;">수능 국어 오답률 40% 이상 문제 모음 / 홀수형 기준</div>
    <div style="height:5px;"></div>

    <div class="r-s-c">
        <div style="font-weight: 400; font-size: 13px; color: #95979e;">생성일 : 2025-05-09/17:33</div>
        <div style="font-weight: 400; font-size: 13px; color: #95979e; margin-left: auto;">마지막 작업 : 2025-05-11/18:39</div>
    </div>


</div>
<!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 -->

    <div style="height: 20px;"></div>

<!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 -->
<div class="r-c-c" style="width: 810px;">
    <a class="page-btn"> << </a>
    <div style="width: 3px;"></div>
    <a class="page-btn"> < </a>

    <div style="width: 10px;"></div>

    <a class="page-btn"> 1 </a>
    <div style="width: 3px;"></div>
    <a class="page-btn page-btn-checked"> 2 </a>
    <div style="width: 3px;"></div>
    <a class="page-btn"> 3 </a>
    <div style="width: 3px;"></div>
    <a class="page-btn"> 4 </a>
    <div style="width: 3px;"></div>
    <a class="page-btn"> 5 </a>

    <div style="width: 10px;"></div>

    <a class="page-btn"> > </a>
    <div style="width: 3px;"></div>
    <a class="page-btn"> >> </a>


</div>
<!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 -->
    <div style="height: 50px;"></div>


</div>
</html>