<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{view/layout/layout}">
<div layout:fragment="content">

<!-- 저장소 생성 모달 --><!-- 저장소 생성 모달 --><!-- 저장소 생성 모달 --><!-- 저장소 생성 모달 --><!-- 저장소 생성 모달 -->
<div class="modal-background c-c" id="repo-form">
    <div class="repository-form c-s-c">
        <div class="hover-cursor" style="margin-left: auto;" id="repo-form-close">X</div>

        <div style="height: 50px;"></div>
        <div style="font-weight: 500; font-size: 20px; color: #141517; width: 80%"> 저장소 이름 </div>
        <div style="height: 5px;"></div>
        <input id="repo-form-name" class="input-box" style="width: 80%; height: 30px; font-size: 13px;" placeholder="ex) 화법과 작문 상급 문제 모음"/>

        <div style="height: 10px;"></div>
        <div style="font-weight: 500; font-size: 20px; color: #141517; width: 80%"> 설명 </div>
        <div style="height: 5px;"></div>
        <textarea id="repo-form-description" class="textarea-box" style="width: 80%; height: 300px; font-size: 13px;" placeholder="ex) 수능 국어 상급 문제 오답용 문제 저장"></textarea>
        <div style="height: 20px;"></div>

        <div style="width: calc(80% + 10px);">
            <div class="black-btn" id="repo-form-submit">저장소 생성</div>
        </div>


        <div style="height: 20px;"></div>
    </div>
</div>
<!-- 저장소 생성 모달 --><!-- 저장소 생성 모달 --><!-- 저장소 생성 모달 --><!-- 저장소 생성 모달 --><!-- 저장소 생성 모달 -->


<!-- 상단 검색 , 정렬 , 생성버튼 --><!-- 상단 검색 , 정렬 , 생성버튼 --><!-- 상단 검색 , 정렬 , 생성버튼 -->
<div class="c-s-c">

    <div style="height: 50px;"></div>
    <div class="r-c-c" style="width: 815px; height: 37px;">
        <input class="input-box" style="width: 700px; height: 100%;" id="repository-search-input" placeholder="저장소 찾기" th:value="${page.search}"/>
        <div style="width: 10px;"></div>
        <div style="width: 105px; height: 37px; padding: 0;" class="black-btn" id="repository-search-btn">찾기</div>
    </div>

    <div style="height: 5px;"></div>
    <div class="r-s-c" style="width: 810px; height: 30px;">
<!--
        <label class="mypage-top-btn hover-cursor">·&nbsp;&nbsp;생성일자순
            <input type="radio" name="sort">
        </label>

        <div style="width: 15px;"></div>

        <label class="mypage-top-btn hover-cursor">·&nbsp;&nbsp;최근작업순
            <input type="radio" name="sort" checked>
        </label>
-->

        <div class="mypage-top-btn hover-cursor" id="create-repository-btn">·&nbsp;&nbsp;새 저장소 만들기</div>
    </div>
    <div style="height: 5px;"></div>

</div>
<!-- 상단 검색 , 정렬 , 생성버튼 --><!-- 상단 검색 , 정렬 , 생성버튼 --><!-- 상단 검색 , 정렬 , 생성버튼 -->

<!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 -->
<div class="c-c-s repository-element bd-b-grey2" th:each="element : ${list}" th:object="${element}">

    <div class="r-s-c">
        <div style="font-weight: 600; font-size: 20px; color: #141517;" th:text="*{repositoryName}"></div>
        <div style="font-weight: 500; font-size: 20px; color: #141517; margin-left: auto;">[ 준비중 ]</div>
    </div>

    <div style="height:5px;"></div>
    <div style="font-weight: 400; font-size: 15px; color: #141517;" th:text="*{description}">수능 국어 오답률 40% 이상 문제 모음 / 홀수형 기준</div>
    <div style="height:5px;"></div>

    <div class="r-s-c">
        <div style="font-weight: 400; font-size: 13px; color: #95979e;" th:text="*{'생성일 : '+ createdAt}"></div>
        <div style="font-weight: 400; font-size: 13px; color: #95979e; margin-left: auto;" th:text="*{'마지막 작업 : '+ updatedAt}"></div>
    </div>


</div>
<!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 --><!-- 목록 요소들 -->

    <div style="height: 20px;"></div>

<!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 -->
<div class="r-c-c" style="width: 810px;">
    <a class="page-btn" th:href="@{/member/repository(page=${page.startPage}, search=${page.search} , searchType=${page.searchType} , sortType=${page.sortType} , sort=${page.sort})}"> << </a>
    <div style="width: 3px;"></div>
    <a class="page-btn" th:href="@{/member/repository(page=${page.page -1}, search=${page.search})}"> < </a>

    <div style="width: 7px;"></div>

    <a th:each="num : ${page.pages}" style="margin-left: 2px; margin-right: 2px;" th:class="${num == page.page} ? 'page-btn page-btn-checked':'page-btn'" th:text="${num}" th:href="@{/member/repository(page=${num}, search=${page.search} , searchType=${page.searchType} , sortType=${page.sortType} , sort=${page.sort})}">
    </a>

    <div style="width: 7px;"></div>

    <a class="page-btn" th:href="@{/member/repository(page=${page.page +1}, search=${page.search} , searchType=${page.searchType} , sortType=${page.sortType} , sort=${page.sort})}"> > </a>
    <div style="width: 3px;"></div>
    <a class="page-btn" th:href="@{/member/repository(page=${page.endPage}, search=${page.search} , searchType=${page.searchType} , sortType=${page.sortType} , sort=${page.sort})}"> >> </a>


</div>
<!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 --><!-- 페이지 버튼 -->
    <div style="height: 50px;"></div>


</div>
</html>