.extract-pdf-ar{

    width: 745px;
    height: 150px;

    border: 2px solid #FE6E2F;

    border-radius: 3px;

    font-size: 20px;
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.extract-pdf-ar-dragover{
    background-color: #ffb494;
}

.extract-btn-ar{
    width: 749px;
}

.common-passage-form{

    width: 500px;

    background-color: #d8dae6;

    border-radius: 3px;

    padding: 10px;

    font-size: 15px;
    color: #141517;
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.extract-ele-ar{

    width: 500px;
    height: 600px;

    border: 2px solid #2E3434;

    background-color: #FFFFFF;

    border-radius: 3px;

    font-size: 20px;
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    overflow-y: auto;

    display: none;


    /* 위치 */
    position: fixed;
    right: 20px;
    top: 110px;
    z-index: 3000;

}

.question-block{

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    /*border: 2px solid red;*/

    margin: 10px;
}

.passage-block{
    padding-left: 15px;
    /*border: 2px solid orange;*/
    width: calc(100% - 38px);

}

.ext-btn{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.i-bb{
    height: 30px;
    width: 95%;
}

.q-bb{
    height: 40px !important;
}

.t-bb{
    height: 500px !important;
}